.qkb-board {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  right: 0;
  width: $board-width;
  height: 77vh;
  bottom: -0.5rem;
  border-radius: $board-radius;
  background-color: $board-bg;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .15);
}

@media only screen and (max-width: 600px) {
  .qkb-board {
    width: 100vw;
    position: fixed;
    border-radius: 0;
    height: auto;
    bottom: 0;
    top: 62px;
  }
}
