// Root
$font-size-root: 1rem;
$bot-zindex: 1000;

$white: #fff;
$back-c: #f4f4f4;

// Bubble Button
$bubble-btn-color: $back-c;

// Board
$board-bg: $white;
$board-radius: 12px;
$board-width: 376px;

// Header
$header-height: 50px;

// Content, Message Bubble
$avatar-size: 32px;
$bubble-triangle-size: 10px;
$bubble-time-bg: #222;
$bubble-time-color: $white;
$typing-indicator-size: 7px;

// Action
$action-height: 46px;
$action-line: #e6e6e6;
$action-input-bg: $white;
$action-disable-bg: #ccc;
$action-icon-color: #666;

//font_size
$font_size-small: 0.95rem;
$font_size-midden: 1rem;
$font_size-large: 1.2rem;
